*.idea
*x64
*.vs
.csv
*.xlsx*
.user
.filters
*.sln*
*.vcxproj
*.vcxproj*
CreareGrafice/*
*.html
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.force
*.resources
*.csv
*.tmp
*.log
*.bak
